<!DOCTYPE html>
<html>
    <head>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp - Login Page</title>
    </head>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-success">
              <a class="navbar-brand" href="/urls">TinyApp</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <button type="submit" style='float: right; margin-right: 25px; border: 2px solid white;border-radius: 6px; background-color: transparent; color: white;'>
                <a style='text-decoration: none;color: white;' href='/login'>Login</a></button>
            </nav>
        <body>
            <div id='body' style='height: 100px;'>
                <p style='text-align:center; font-size: 30px;'>Registration Page</p>
            </div>
            <div style='margin-left: 400px'>
                <!-- Image is free of use courtesy of https://www.pexels.com/photo/yellow-duck-toy-beside-green-duck-toy-132464/ -->
                <img src='https://i.imgur.com/nrN0rBU.jpg' style='float: left'> 
            </div>
                
            <div id='inputForm' style='max-width: 300px; margin: auto'>
            
            <form action='/register' method='POST'>
            <input type='email' name='email' placeholder='Email' style='width: 300px'> 
            <br>
            <br>
            <input type='password' name='password' placeholder='Password' style='width: 300px'>
            <br>
            <br>
            <button type='submit' style='border: 2px solid #28A745; border-radius: 6px; background-color: transparent; color: #28A745'>Submit</button>
            </form>
            </div>
                
        </div>
        </body>
</html>