
<!--- Login page for the TinyApp -->

<!DOCTYPE html>
<html>
    <head>
        <body>
        <div id='heading'>
            <p>Please register on TinyApp</p>
        </div>
        <div id='inputForm'> 
            <form action='/register' method='POST'>
            <input type='email' name='email' placeholder='Email' style='width: 300px'>
            <input type='password' name='password' placeholder='Password' style='width: 300px'>
            <button type='submit'>Submit</button>
            </form>
        </div>
        </body>
    </head>
</html>